.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width:  50%;
    text-align: center;

    left: 25%;
    top: 100px;
}

.form input {
    padding: 20px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin: 10px 0;
}

.form button {
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: #0984e3;
    color: #dfe6e9;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background-color: #74b9ff;
    color: #2d3436;
}